<ul id="tagcloud">
<% @tag_cloud.each do |t| %>
	<li style="font-size: <%= 1 + 0.5*Math.log(t[:count]) %>em"><%=
	link_to h(t[:title]), one_tag_path(t[:title]), :title=>"#{t[:count]} posts"
	%></li>
<% end %>
</ul>