<div id="post-<%= abbreviated.id %>" class="post">
<h1>
	<%=link_to h(abbreviated.title), single_url(:slug=>abbreviated.slug)%>
</h1>
<div class="excerpt">
<%= markdown abbreviated.abbreviated %>
</div>
</div>